.icon-delivery { background: url(description.png) 0px -206px no-repeat; }
.icon-percent { background: url(description.png) -49px -166px no-repeat; }
.icon-quote-left { background: url(description.png) -89px -154px no-repeat; }
.icon-quote-right { background: url(description.png) -104px -132px no-repeat; }
.icon-star { background: url(description.png) -119px -68px no-repeat; }
.icon-verify { background: url(description.png) -284px -49px no-repeat; }
.icon-whole-percent { background: url(description.png) -306px 0px no-repeat; }
